/*与我相关*/
.main_box
  width 100%
  box-sizing border-box
  display flex
  flex-flow column nowrap
  justify-content flex-start
  align-items flex-start
  overflow hidden
  .tab_title_box
    width 100%
    display flex
    flex-flow row nowrap
    justify-content flex-start
    align-items center
    bt-t(#e8e8e8)
    background white
    span
      flex 1
      height 88px
      line-height 88px
      text-align center
      color #999999
      &.active
        color #333
        position relative
        &::after
          content ""
          position absolute
          height 4px
          left 35%
          right 35%
          bottom 0px
          background #FE7621

  .tab_content_box
    flex 1
    width 100%
    overflow hidden
    display flex
    flex-flow column nowrap
    justify-content flex-start
    align-items flex-start
    .tab-box
      width 100%
      white-space nowrap
      display block
      overflow-x auto
      padding 20px
      li
        font-size 24px
        background #F5F5F5
        padding 20px 40px
        display inline-block
        margin-right 20px
        color #333
        border-radius:24px 16px 16px 0px;
        &.active
          background #FE7621
          color white
    .tab-box-list
      width 100%
      flex 1
      overflow-y auto
      bt-t(#e8e8e8)
      .list-box
        background white
        padding-left 20px
        padding-top 20px
        position relative
        dl
          display flex
          flex-flow row nowrap
          justify-content flex-start
          align-items flex-start
          bd-d(#E8E8E8)
          padding-bottom 20px
          margin-bottom 20px
          font-size 28px
          &:last-child::after
            display none
            border-top none!important
          dt
            width 152px
            height 152px
            display flex
            flex-flow row nowrap
            justify-content center
            align-items center
            background #e8e8e8
            img
              display block
              max-height 152px
              max-width 152px
              margin 0 auto
          dd
            flex 1
            margin-left 20px
            padding-right 20px
            p
              position relative
              padding 3px 0px
              strong
                font-weight bolder
                position absolute
                right 0px
            .btn-box
              padding-right 90px
              position relative
              .btn-do-box
                position absolute
                right: 0px
                top: 0px
                width 90px
                bottom 0px
                .btn-do
                  text-align center
                  padding 5px 10px
                  border 1px solid #CCCCCC
                  color #333
                  border-radius 4px
                  font-size 24px
            .basic-info
              display flex
              margin-top 20px
              flex-flow row nowrap
              justify-content flex-start
              align-items center
              span
                flex 1
                font-size 24px
                color #999999


.bottom_action_btn
  bd-d(#E8E8E8)
  line-height 88px
  text-align center
  font-size 28px
  color #666

.footermenu
  display flex
  flex-flow row nowrap
  justify-content center
  align-items center
  background white
  border-top 1px solid #EDEDED
  span
    flex 1
    height 98px
    text-align center
    display flex
    justify-content center
    align-items center
    position relative
    &:first-child::after
      position absolute
      content ""
      right 0px
      top 30px
      bottom 30px
      width 1px
      background #e8e8e8
    i
      display inline-block
      height 40px
      width 40px
      margin-right 10px
      background-size cover
      &.noorder-search
        bg-image('./src/assets/img/facesheet_searchun')
      &.noorder-search-active
        bg-image('./src/assets/img/facesheet_search')
      &.noorder-info-active
        bg-image('./src/assets/img/facesheet_personaluncopy')
      &.noorder-info
        bg-image('./src/assets/img/facesheet_personalun')
